@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Light.eot') format('embedded-opentype'), url('fonts/Gotham-Light.otf') format('opentype'), url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf') format('truetype'), url('fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Book.eot') format('embedded-opentype'), url('fonts/Gotham-Book.otf') format('opentype'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.eot') format('embedded-opentype'), url('fonts/Gotham-Medium.otf') format('opentype'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.eot') format('embedded-opentype'), url('fonts/Gotham-Bold.otf') format('opentype'), url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf') format('truetype'), url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo {
  width: 173px;
  margin-top: 25px;
}

.header-container {
  padding-top: 70px;
  padding-left: 43px;
  padding-bottom: 70px;
}

.header-title {
  text-align: left;
  font: normal normal bold 25px/35px Gotham;
  letter-spacing: 0;
  color: #303248;
  margin: 0 0 27px;
}

.header-text {
  margin: 0;
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0;
  color: #4E556D;
}

.left {
  width: 370px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  padding-left: 173px;
  background: #E2E2E2 0 0 no-repeat padding-box;
}

.version {
  text-align: left;
  letter-spacing: 0;
  color: #4E556D;
  line-height: 35px;
  margin-bottom: 15px;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: 25px;
  font-family: Gotham;
  margin-top: 0;
}

.date {
  margin-top: 0;
  text-align: left;
  letter-spacing: 0;
  color: #4E556D;
  line-height: 20px;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: 14px;
  font-family: Gotham;
}

.right {
  width: 100%;
}

.right-content {
  margin-left: 37px;
  padding-left: 37px;
  border-left: 2px solid #E5E5E5;
  position: relative;
  padding-bottom: 25px;
  transform: translateY(12px);
}

.right-content::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: -7px;
  background: #E5E5E5 0 0 no-repeat padding-box;
  top: 0;
  border-radius: 50%;
  z-index: 1;
}

.section:last-child .right-content {
  border-left: 2px solid transparent;
  margin-bottom: 12px;
}

.change-title {
  text-align: left;
  line-height: 35px;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-size: 25px;
  font-family: Gotham;
  letter-spacing: 0;
  color: #4E556D;
}

.change-title:first-child {
  margin-top: 0;
}

.change-description {
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0;
  color: #4E556D;
}

.section .change-description:last-child {
  margin-bottom: 25px;
}

.section:last-child .change-description:last-child {
  margin-bottom: 0;
}

.right-content h3, .right-content ul {
  transform: translateY(-12px);
}
